@model TallinnaRakenduslikKolledz.Models.Delinquents
@{
	ViewData["Title"] = "Kustuta";
}


<h1>Kustuta Raport </h1>



<hr />
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Violation)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Violation)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Subject)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Subject)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.CurrentSituation)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.CurrentSituation)</dd>

</dl>

<form asp-action="Delete">
	<input type="hidden" asp-formaction="Id" />
	<input type="submit" value="Kustuta Raport" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>




</form>