@model TallinnaRakenduslikKolledz.Models.Course
@{
	ViewData["Title"] = ("kustuta kursus");
	
	
}
<h2>@Html.DisplayFor(modelItem => Model.Title)</h2>

<p>
	<h3>Kustuta osakond</h3>
</p>
<div>
	<hr />
	<dl class="row">


		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Title)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Title)</dt>


		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Credits)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Credits)</dt>

		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.DepartmentID)</dt>
		
	






	</dl>
	
		<form asp-action="Delete">
			
			<input type="submit" value="Kustuta" class="btn btn-danger" />|




			<a asp-action="Index">Tühista</a>
		</form>
	
</div>
</div>