@model TallinnaRakenduslikKolledz.Models.Course
@{
	ViewData["Title"] = ("kustuta kursus");
	
}
<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>

<p>
	<h3>Kustuta osakond</h3>
</p>
<div>
	<hr />
	<dl class="row">
		<dt>@Html.DisplayNameFor(Model => Model.Title)</dt>
		<dt>@Html.DisplayFor(Model => Model.Name)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.Budget)</dt>
		<dt>@Html.DisplayFor(Model => Model.Budget)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.StartDate)</dt>
		<dt>@Html.DisplayFor(Model => Model.StartDate)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.InstructorID)</dt>
		<dt>@Html.DisplayFor(Model => Model.InstructorID)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.SchoolName)</dt>
		<dt>@Html.DisplayFor(Model => Model.SchoolName)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.Geography)</dt>
		<dt>@Html.DisplayFor(Model => Model.Geography)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.DepartmentID)</dt>
		<dt>@Html.DisplayFor(Model => Model.DepartmentID)</dt>








	</dl>
	
		<form asp-action="Delete">
			
			<input type="submit" value="Kustuta" class="btn btn-danger" />|




			<a asp-action="Index">Tühista</a>
		</form>
	}
</div>
</div>