@model TallinnaRakenduslikKolledz.Models.Student
@{
	ViewData["Title"] = "Kustuta õpilane";

}

<h1>Kustuta õpilane</h1>
<h3>
	Kas oled kindel, et tahad õpilast @Model.FirstName @Model.LastName eemaldada?
</h3>
<div>
	<h4>Õpilane @Model.FirstName @Model.LastName</h4>
</div>
<hr/>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.EnrollmentDate)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Nationality)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Nationality)</dd>

</dl>

@if (Model.Enrollments != null)

	foreach (var courseEnrollment in Model.	Enrollments)
	{

		<dl> class="row
			<dd> class=col-sm-10>@(courseEnrollment)</dd>

			"</dl>
	}	
	
}


		@if (Model.FirstName != null)
		{

			@Model.FirstName
		}
		@if (Model.FirstName != null)
		{
			
				<dl class="row">
					<dd class="col-sm-1o">FirstName</dd>

				</dl>
		}


@if (Model.LastName != null)
{

	@Model.LastName
}
@if (Model.LastName != null)
{
	
		<dl class="row">
			<dd class="col-sm-1o">LastName</dd>

		</dl>
}

@if (Model.EnrollmentDate != null)
{

	@Model.EnrollmentDate
}
@if (Model.EnrollmentDate != null)
{

	<dl class="row">
		<dd class="col-sm-1o">EnrollmentDate</dd>

	</dl>
}

@if (Model.Nationality != null)
{

	@Model.Nationality
}
@if (Model.Nationality != null)
{

	<dl class="row">
		<dd class="col-sm-1o">Nationality</dd>

	</dl>
}

















		<form asp-action="Delete">
			<input type="hidden" asp-formaction="Id" />
			<input type="submit" value="Kustuta õpilane" class="btn btn-danger"/> | <a asp-action="Index">Tühista</a>




		</form>
		
	}