@model TallinnaRakenduslikKolledz.Models.Instructor
@{ViewData["Title"] = "kustuta õpetaja";


}
<h1>Kustuta õpetaja</h1>
<h3>Kas soovid kustutada @Html.DisplayFor(Model => Model.FullName)</h3>
	<div>
		<h4>Õpetaja</h4>
		<hr/>
		<dl class="row">
			<dt>@Html.DisplayNameFor(Model => Model.LastName)</dt>
		<dt>@Html.DisplayFor(Model => Model.LastName)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.FirstName)</dt>
		<dt>@Html.DisplayFor(Model => Model.FirstName)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.CourseAssigments)</dt>
		<dt>@Html.DisplayFor(Model => Model.CourseAssigments)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.Nationality)</dt>
		<dt>@Html.DisplayFor(Model => Model.Nationality)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.Religion)</dt>
		<dt>@Html.DisplayFor(Model => Model.Religion)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.HireDate)</dt>
		<dt>@Html.DisplayFor(Model => Model.HireDate)</dt>
		<dt>@Html.DisplayNameFor(Model => Model.OfficeAssigment)</dt>
		<dt>@Html.DisplayFor(Model => Model.OfficeAssigment)</dt>
		
		</dl>
		<form asp-action="Delete">
		<input type="hidden" asp-for="ID"/>
		<input type="submit" value="Kustuta" class="btn btn-danger" />|<a asp-action="Index">Tühista</a>
		</form> 
	</div>
