@model TallinnaRakenduslikKolledz.Models.Instructor
@{
	
}
<h1>@Model.FirstName @Model.LastName</h1>

<h1>Õpetaja vaade</h1>

<div>
	<h4>Õpetaja @Model.FirstName @Model.LastName</h4>
</div>

<hr />
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.CourseAssigments)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.CourseAssigments)</dd>

</dl>

<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Nationality)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Nationality)</dd>

</dl>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Religion)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Religion)</dd>

</dl>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.HireDate)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.HireDate)</dd>

</dl>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Experience)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Experience)</dd>

</dl>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastJobPlace)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastJobPlace)</dd>

</dl>
<dl ="class= row">

	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.OfficeAssigment)</dt>
	<dd class="col-sm-10">@Html.DisplayFor(Model => Model.OfficeAssigment)</dd>

</dl>






